body, html {
    margin: 0;
    padding: 0;
}

.menu ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.menu ul li {
    margin: 0 15px;
}

.menu ul li a {
    color: #F55836;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;  
    height: 100vh; 
    margin-top: 100px;
}

h1, h2, h3 {
    color: #F55836;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.wrapimg {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 80px;
    margin-right: 80px;
    text-align: left;
}

.center_wrapped_text {
    text-align: left;
    margin-left: 80px;
}

#quote {
    color: orange;
    font-weight: bold;
    font-style: italic;
}

.calendar {
    width: 80%; 
    margin: 20px auto;
}

.day-names th {
    padding: 10px; 
    text-align: center; 
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
.day-nums td {
    padding: 40px; 
    text-align: center; 
    font-size: 24px;
}

.calendar-button {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #F55836;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

.calendar-button:hover {
    background-color: #d4300b; 
}

.center > .calendar-title {
    margin-top: -35px;
}

.work {
    width: 500px;
    height: 350px;
    margin: 5px;
    display: block;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    float: right;
}

.navbar-line {
    border: 1px solid #F55836; 
    width: 50%;
    margin: 0 auto; 
}

.reminder-header, .timer-header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 80%; 
    max-width: 600px; 
}

.add-reminder-button, .add-timer-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #F55836;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.add-notes-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #F55836;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.reminder-list {
    width: 80%;
    max-width: 600px;
    padding: 0;
}

.notes-list {
    width: 80%;
    max-width: 600px;
    padding: 0;
}

.notes-list li,
.reminder-list li {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 5px 0;
    background-color: #f1f1f1;
    border-radius: 5px;
    word-wrap: break-word;  
    max-width: 100%;  
}

li {
    font-family: Arial, Helvetica, sans-serif;
}

label {
    font-family: Arial, Helvetica, sans-serif;
}

.business-cite {
    position: absolute;
    right: 430px;
    top: 700px;
}

.notes-header, .reminder-header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 80%; 
    max-width: 600px; 
    position: relative; 
}

.note-container, .reminder-container {
    position: absolute; 
    top: 100%; 
    left: 365px;
    background: white; 
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: none; 
    width: 100%;
    max-width: 300px;
    word-wrap: break-word;
}

.note-input, .reminder-input {
    width: 95%; 
    height: 100px; 
    padding: 8px;
    font-size: 14px;
}

.confirm-button {
    padding: 8px 12px;
    font-size: 18px;
    background-color: #F55836;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.garbage-bin {
    display: none;
    cursor: pointer;
    font-size: 18px;
    color: red;
}

.note-item:hover .garbage-bin {
    display: inline-block; 
    
}

.reminder-item:hover .garbage-bin {
    display: inline-block; 

}

.close-frame-button {
    padding: 8px 12px;
    font-size: 18px;
    background-color: #F55836;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    align-self: flex-end;
}


#addNoteButton {
    padding: 8px 12px;
    font-size: 18px;
    background-color: #F55836;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

#addReminderButton {
    padding: 8px 12px;
    font-size: 18px;
    background-color: #F55836;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.frame-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.day-details-frame {
    display: none; /* Initially hidden */
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 600px;
    z-index: 1000;
}



.recycling-link {
    text-decoration: none; 
    position: absolute; 
    top: 10px; 
    left: 25px; 
}


.recycling-icon {
    font-size: 40px; 
    color: #F55836; 
    cursor: pointer;
}


.recycling-icon:hover {
    color: #d34d2e; 
}